*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    min-height:100vh;

    background:
    linear-gradient(
        90deg,
        #003ea9 0%,
        #dbe3ef 20%,
        #f2f4f8 50%,
        #dbe3ef 100%
    );

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:1400px;
    max-width:95%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:100px;
}

.lado-esquerdo{
    flex:1;
    text-align:center;
}

.logo{
    width:520px;
    max-width:100%;
}

.lado-esquerdo h1{
    margin-top:40px;

    color:#072c91;

    font-size:56px;
    font-weight:700;
}

.lado-esquerdo p{
    margin-top:20px;

    color:#4f5d78;

    font-size:30px;
    line-height:1.5;
}

.card-login{
    width:600px;

    background:#fff;

    padding:50px;

    border-radius:20px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);
}

.card-login h2{
    color:#072c91;
    font-size:42px;
}

.subtitulo{
    margin-top:15px;
    margin-bottom:40px;

    color:#4e5a77;
    font-size:24px;
}

form label{
    display:block;

    margin-bottom:10px;
    margin-top:20px;

    color:#072c91;

    font-size:24px;
    font-weight:600;
}

.input-box{
    height:70px;

    border:2px solid #d9e0eb;

    border-radius:12px;

    display:flex;
    align-items:center;

    padding:0 20px;

    gap:15px;
}

.input-box i{
    color:#53627e;
    font-size:24px;
}

.input-box input{
    flex:1;

    border:none;
    outline:none;

    font-size:24px;

    color:#34425e;
}

.input-box input::placeholder{
    color:#8893ab;
}

button{
    width:100%;
    height:70px;

    margin-top:35px;

    border:none;
    border-radius:12px;

    background:
    linear-gradient(
        90deg,
        #002f9c,
        #0055ff
    );

    color:#fff;

    font-size:32px;
    font-weight:700;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;

    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
}

.divisor{
    display:flex;
    align-items:center;

    margin:40px 0;
}

.divisor span{
    flex:1;
    height:2px;
    background:#d9e0eb;
}

.divisor p{
    margin:0 20px;

    color:#4e5a77;

    font-size:24px;
    font-weight:600;
}

.links{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.links a{
    text-decoration:none;

    color:#0047ff;

    font-size:24px;

    display:flex;
    align-items:center;

    gap:10px;
}

.links a:hover{
    text-decoration:underline;
}

@media(max-width:1200px){

    .container{
        flex-direction:column;
        gap:40px;
    }

    .card-login{
        width:100%;
        max-width:700px;
    }

    .lado-esquerdo h1{
        font-size:42px;
    }

    .lado-esquerdo p{
        font-size:22px;
    }
}